NEXT_PUBLIC_SITE_URL=https://seu-dominio.com.br
NEXT_PUBLIC_META_PIXEL_ID=
META_CAPI_ACCESS_TOKEN=
ANALYTICS_PASSWORD=
# Na Vercel, conecte Upstash Redis e configure as duas variáveis abaixo.
UPSTASH_REDIS_REST_URL=https://decent-gopher-324842.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAABPTqAAIgcDEwNmQ3ODRmNjQzMzY0OGIzOTQ2ODIzNjhiYmZiOTkwYQ
